@font-face {
    font-family: 'Museo';
    font-display: swap;
    src: url('/fonts/MuseoSansCyrl-100.eot');
    src: url('/fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
    url('/fonts/MuseoSansCyrl-100.woff') format('woff'),
    url('/fonts/MuseoSansCyrl-100.ttf') format('truetype');  
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Museo';
    font-display: swap;
    src: url('/fonts/MuseoSansCyrl-100Italictalic.eot');
    src: url('/fonts/MuseoSansCyrl-100Italictalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/MuseoSansCyrl-100Italictalic.woff') format('woff'),
    url('/fonts/MuseoSansCyrl-100Italictalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Museo';
    font-display: swap;
    src: url('/fonts/MuseoSansCyrl-300.eot');
    src: url('/fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
    url('/fonts/MuseoSansCyrl-300.woff') format('woff'),
    url('/fonts/MuseoSansCyrl-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Museo';
    font-display: swap;
    src: url('/fonts/MuseoSansCyrl-300Italictalic.eot');
    src: url('/fonts/MuseoSansCyrl-300Italictalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/MuseoSansCyrl-300Italictalic.woff') format('woff'),
    url('/fonts/MuseoSansCyrl-300Italictalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Museo';
    font-display: swap;
    src: url('/fonts/MuseoSansCyrl-500.eot');
    src: url('/fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
    url('/fonts/MuseoSansCyrl-500.woff') format('woff'),
    url('/fonts/MuseoSansCyrl-500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Museo';
    font-display: swap;
    src: url('/fonts/MuseoSansCyrl-500Italictalic.eot');
    src: url('/fonts/MuseoSansCyrl-500Italictalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/MuseoSansCyrl-500Italictalic.woff') format('woff'),
    url('/fonts/MuseoSansCyrl-500Italictalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Museo';
    font-display: swap;
    src: url('/fonts/MuseoSansCyrl-700.eot');
    src: url('/fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
    url('/fonts/MuseoSansCyrl-700.woff') format('woff'),
    url('/fonts/MuseoSansCyrl-700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Museo';
    font-display: swap;
    src: url('/fonts/MuseoSansCyrl-700Italictalic.eot');
    src: url('/fonts/MuseoSansCyrl-700Italictalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/MuseoSansCyrl-700Italictalic.woff') format('woff'),
    url('/fonts/MuseoSansCyrl-700Italictalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Museo';
    font-display: swap;
    src: url('/fonts/MuseoSansCyrl-900.eot');
    src: url('/fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
    url('/fonts/MuseoSansCyrl-900.woff') format('woff'),
    url('/fonts/MuseoSansCyrl-900.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Museo';
    font-display: swap;
    src: url('/fonts/MuseoSansCyrl-900Italictalic.eot');
    src: url('/fonts/MuseoSansCyrl-900Italictalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/MuseoSansCyrl-900Italictalic.woff') format('woff'),
    url('/fonts/MuseoSansCyrl-900Italictalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}