@media(max-width:1240px){
    .container{
        max-width:780px;
    }
    .catalog-item__list{
        ul{
            li{
                padding-left: 8px;
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0;   
                }
            }
        }
    }

}
@media(max-width:992px){
    .container{
        max-width: 730px;

    }
    .menu__logo{
        img{
            width: 200px;
        }
        
    }
    .advantages__item{
        flex:0 1 200px;
    }
    .catalog-item__price{
        p:last-child{
            font-size: 17px;
        }
    }
    .catalog-item__list{
        ul{
            li{
                font-size: 13px;
            }
        }
    }
    .review{
        padding-left: 20px;
    }
    .footer__info{
        width: 350px;
        height: 220px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
@media(max-width:767px){
    .promo,
    .advantages{
        padding-left: 20px;
        padding-right: 20px;
    }
    .advantages__item{
        flex:0 1 160px;
    }
    .menu__text{
        padding: 0 30px;
    }
    .consultation__title{
        text-align: center;
        font-size: 22px;
        margin-bottom: 40px;
    }
    .consultation__descr{
        text-align: center;
    }
    .consultation__form{
       max-width: 400px;
       margin:0 auto;
       margin-top: 30px;
    }
    .catalog__tab{
        width: 170px;
    }
    .catalog__content {
        flex-wrap: wrap;
        padding-left: 10px;
        padding-right: 10px;
    }
    .catalog-item{
        min-width: 200px;
        flex:0 1 48%;
    }
    .catalog-item__list{
        ul{
            li{
                padding-left: 8px;
                font-size: 15px;
                &:last-child{
                    margin-bottom: 0;   
                }
            }
        }
    }
    
    .review{
        margin-bottom: 50px;
    }
    .review__photo{
        flex:0 0 130px;
    }
    .reviews__content{
        padding-left: 30px;
    }
    .review__text{
        padding-left: 30px;
        padding-right: 30px;
    }
    .footer__info{
        width: 300px;
        height: 170px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer__address,
    .footer__phone{
        font-size: 15px;
    }
}
@media(max-width:576px){
    .promo,
    .advantages{
        padding-left: 0;
        padding-right: 0;
    }
    .menu{
        flex-direction: column;
        &__title{
            margin-top: 20px;
            font-size: 17px;
        }
        &__subtitle{
            font-size: 24px;
        }
    }
    .promo__content{
        padding-top: 30px;
        align-items: center;
    }
    .promo__title{
        font-size: 25px;
    }
    .promo__subtitle{
        font-size: 20px;
        text-align: center;
    }
    .promo__items{
        justify-content: space-evenly;
    }
    .promo__item{
        margin-right: 0;
    }
    .menu__call{
        display: block;
        text-align: center;
        margin-top: 20px;
        >a{
        font-size: 30px;
        }
    }
    .promo__btn,
    .menu__btn{
        max-width: 380px;
        width: 80vw;
        height: 50px;
        line-height: 50px;
        margin-top: 20px;

    }
    .advantages__list{
        padding-left: 20px;
        padding-right: 20px;
        display: block;
    }
    .advantages__item{
        margin-bottom: 40px;
        h4{
            margin-top: 15px;
        }
    }
    .catalog-item{
        min-width: 200px;
        flex:0 1 100%;
        margin: 0 auto;

    }
    .catalog__tabs {
        flex-direction: column;
    }
    .catalog__tab{
        margin-bottom: 10px;
    }
    .reviews__content{
        padding: 0; 
    }
    .title{
        font-size: 25px;
    }
    .consultation__content{
        padding-left: 20px;
        padding-right: 20px;
    }
    .review{
        align-items: center;
        text-align: center;
        flex-direction: column;
        
    }
    .review__photo{
        max-width: 250px;
        margin-bottom: 20px;
    }
    .facebook-link,
    .instagram-link,
    .pinterest-link{
        width: 40px;
        height:40px;
        border-radius: 20px;
        img{
            height: 20px;
        }
    }
    .footer__info{
        width: 90%;
        max-width: 280px;
        height: 140px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}