*{
    font-family: 'Museo';
}
.container{
    display: block;
    max-width: 790px;
    margin: 0 auto;
}


@import 'blocks/_menu.scss';
@import 'blocks/promo.scss';
@import 'blocks/button.scss';
@import 'blocks/advantages';
