@import 'libs/animate';
@import 'base/null.scss';
@import 'base/fonts.scss';


body{
    font-family: 'Museo';
}
.container{
    display: block;
    max-width: 960px;
    margin: 0 auto;
}
@import 'blocks/button.scss';
@import 'blocks/titles';
@import 'blocks/forms';
@import 'blocks/_menu.scss';
@import 'blocks/promo.scss';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'blocks/_carousel.scss';
@import 'blocks/catalog.scss';
@import 'blocks/reviews';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'base/media.scss';
@import 'blocks/pageup';