.btn {
    
    text-align: center;
    text-transform: uppercase;
    background-color: #c70101;
    border-radius: 4px;
    >a{
        display: block;
        font-family: 'Museo';
        color: #fff;
    }
}