.catalog {
    padding-bottom: 103px;

}
.catalog__title {
    margin-bottom: 69px;
}
.catalog__tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.catalog__tab {
    cursor: pointer;
    line-height: 50px;
    width: 220px;
    height: 50px;
    margin: 0 5px;
    border: solid 2px #d0d0d0;
    transform: skewX(-25deg);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    color: #6b6b6b;
    transition: 0.3s all;
    div{
        transform: skewX(25deg);
        
    }
    &:hover{
        box-shadow:2px 2px 10px rgb(199, 1, 1);
    }
    &_active{
            border:none;
            background-color: rgb(199, 1, 1);
            color: #ffffff;
            &:hover{
                box-shadow:none;
            }
    }
}
.catalog__content {
    padding-top: 40px;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    &_active{
        display: flex;
    }
}
.catalog-item {
    
    padding: 20px;  
    margin-top: 20px;
    max-width: 300px;
    height: 440px;
    flex:0 1 33%;
    overflow: hidden;
    
    &__wrapper{
        transition: 0.3s all;
        width:calc(200% + 40px);
        display: flex;
    }
    &__content{
        transition: 0.3s all;
        width: 50%;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;   
        &_active{
            transform: translateX(-100%);
            margin-right: 0;
        } 
    }
    &__list {
        margin-left: 20px;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        &_active{
            transform: translateX(-100%);
            margin-left: 0;
            padding-right: 20px;    
        } 
        ul{
            color:#555555;
            li{
                font-size: 14px;
                margin-bottom: 20px;
                line-height: 1.3;
                display: flex;
                flex-direction: row;
                padding-left: 19px;
                &::before{
                    transform: translateX(-20px) translateY(6px);
                    
                    content:'';
                    display: block;
                    min-width: 5px;
                    height: 5px;
                    background-color: #c70101;
                }
            }
        }
        .catalog-item__back{
            cursor: pointer;
            font-size: 14px;
            text-transform: uppercase;
            border-bottom: 2px solid #c70101;
            color: #c70101;
            font-weight: 700;       
            margin-bottom: 19px;
        }
    }
    &__img {
        display: block;
        max-width: 100%;
        height: 200px;
        margin-bottom: 20px;
        img{
            margin: 0 auto;
            width: 100%;
        }
    }
    &__title {
        font-size: 16px;    
        font-weight: 800;
        color: #0d0d0d;
        margin-bottom: 16px;
    
    }
    &__link {
        cursor: pointer;
        font-size: 14px;
        text-transform: uppercase;
        border-bottom: 2px solid #c70101;
        color: #c70101;
        font-weight: 700;       
        margin-bottom: 19px;
    }
    &__descr {
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        color: #0d0d0d;
        margin-bottom: 17px;
        max-height: 28px;
    }
    &__sell {
        width: 100%;
        display: flex;
        flex-direction: row;
        border-top: 1px solid black;//#e8e8e8;
        padding-top: 21px;
    }
    &__price {
        flex: 0 1 50%;
        font-weight: 400;
        &>p:nth-child(1){
            color: #555555;
            text-decoration: line-through;
            font-size: 14px;
            height: 50%;
        }
        &>p:nth-child(2){
            height: 50%;
            font-weight: 700;
            font-size: 20px;
        }
    }
    &__btn {
        line-height: 40px;
        flex: 0 1 50%;
    }
}

