.footer {
    height: 630px;
    position: relative;
    &__map {
    }
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 460px;
        height: 270px;
        background-color: #c70101;
    }
    &__address {
        font-size: 20px;
        text-align: center;
        color: #ffffff;
    }
    &__phone {
        font-size: 20px;
        text-align: center;
        color: #ffffff;
    }
    &__social {
        flex:0 0 auto;
        width: 210px;
        display: flex;
        justify-content: space-between;
    }
}

.facebook-link,
.instagram-link,
.pinterest-link{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border:2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
   img{
       height: 26px;
   }
}
