.feed-form{
    position: relative;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    font-family: 'Museo';
    font-weight: 300;
    &__imput{
        height: 50px;
        padding: 20px;
        border-radius: 3px;
        margin-bottom: 15px;
        
        &:last-of-type{
            margin-bottom: 20px;
        }
    }

    &__btn{
        height: 55px;
        font-size: 16px;
        line-height: 55px;
    }
    &__imput.error{
        border:1px solid red;
    }
    label.error{
        transition: 0.5s all;
        font-size: 12px;
        font-weight: 500;
        transform: translateY(-8px);
        line-height: 0.0;
    }
}
