.overlay{
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.modal {
    position: relative;
    width: 380px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 10px;
    &_small{
        min-height: 140px;
    }
}
.modal__close {
    cursor: pointer;
    top: -10px;
    position: absolute;
    right: -30px;
    font-size: 41px;
    font-weight: 700;
    line-height: 1;
    color: #c70101;
}
.modal__title {
    text-align: center;
    font-weight: 700;
    font-size: 19px;
    color: #0d0d0d;
    margin-bottom: 20px;
}
.modal__subtitle {
    text-align: center;
    font-size: 14px;
    color: #0d0d0d;
    font-weight: 500;
    margin-bottom: 25px;
}
.modal_form {
    width: 300px;
}

#consultation,#order, #thanks{
    
    display: none;
}