
.promo {
    background: url('/img/background/first-background.png') center (center/cover) no-repeat;
    font-family: 'Museo';
    color: #fff;
    padding-bottom: 93px;
    padding-top: 21px;
}
.promo__menu {
}
.promo__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 91px;
}
.promo__title {
    text-align: center; 
    text-transform: uppercase;
    font-weight: 700;
    font-size: 42px;    
    margin-bottom: 17px;
}
.promo__subtitle {
    font-size: 24px;
    text-transform: uppercase;
}
.promo__items {
    margin-top: 66px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.promo__item {
    flex: 0 0 106px;
    text-align: center;
    margin-right: 60px;
    >p{
        padding-top: 20px;
        font-size: 13px;
        font-weight: 500;
       
    }
    &:last-child{
        margin-right: 0;
    }
}
.promo__btn {
    margin-top: 67px;
    width: 300px;
    height: 50px;
    line-height: 50px;
    >a{
        font-size: 16px;
    }
}
.promo__link {
    margin-top: 18px;
    font-size: 16px;
    >a{
        text-decoration: underline;
        color: #fff;
    }
}
